<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/lesson_style.css">
        <title>Home</title>
    </head>

    <body>
        <h1>Hello gorgeous!</h1>
        <button onclick="window.location.href='/about'" type="button" style="margin-right:20px;">About me</button>
        <button onclick="window.location.href='/portfolio'" type="button">Portfolio</button>
        <br>
        <br>
        <img src="/static/img/ru.jpg">
</body>
</html>